## Plot of HAT-P-67 Orbit fit

From a previous exoplanet notebook

In [1]:
import numpy as np, matplotlib.pyplot as plt
%config InlineBackend.figure_format='retina'

In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('../../data/TESS/TESS_HAT_P_67_orbit.csv', skiprows=[1,7])

In [10]:
df

,Sector,mean,logg_star,r_star,orbital_period,t0,log_depth,b,log_jitter,log_prot,log_Q0,log_dQ,rho_star,depth,ror,sigma_rot,prot,f,r_planet
0,24,0.00010,3.85400,2.54446,4.81017,1958.07916,-4.89464,0.53973,-11.00546,1.78804,9.05660,13.47764,0.14438,0.00749,0.08385,0.71469,5.97775,0.01469,2.07619
1,26,0.00026,3.85395,2.56553,4.81043,1958.07621,-4.87613,0.41331,-11.03202,1.78937,10.91982,0.00015,0.14318,0.00763,0.08294,0.94070,5.98566,0.01578,2.07061
2,51,-0.00035,3.85397,2.56052,4.81011,1958.07971,-4.93366,0.35771,-9.75451,1.78422,11.16886,-0.00153,0.14346,0.00720,0.08081,0.93438,5.95493,NaN,2.01353
3,52,0.00008,3.85396,2.56448,4.81010,1958.08183,-4.91697,0.39710,-8.33709,1.66128,14.65534,0.00001,0.14324,0.00732,0.08155,0.85396,5.26606,0.69091,2.03502
4,53,0.00013,3.85396,2.56429,4.81004,1958.09209,-4.92111,0.39168,-10.33885,1.72523,12.12857,0.00008,0.14325,0.00729,0.08079,0.91078,5.61381,0.70924,2.01596
5,all,0.00010,3.85400,2.54487,4.81011,1958.07933,-4.90765,0.45616,-11.30039,1.54358,9.39206,17.07287,0.14436,0.00739,0.08231,0.65665,4.68131,0.01429,2.03833

We mainly care about the transit Depth, orbital period, impact parameter, and stellar rotational period.